@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import "tailwindcss";

* {
  font-family: 'Sora', sans-serif;
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.7s ease-in both;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* * {
  outline: 1px solid red;
} */

html {
  scroll-behavior: smooth;
}
